#control-panel {
  display: inline-block;
  width: calc(100% - 20px);
  vertical-align: top;
  margin: 10px 10px;
}

#preview-button {
  display: none;
}

@media (min-width : 481px) {
  #control-panel {
    width: calc(32% - 10px);
    margin: 0 0 5px 10px;
  }
  #preview-button {
    display: block;
  }
}

#button-group .button {
  width: 100%;
text-transform: uppercase;
}

.small {
  font-size: 11px;
  margin: 0;
}
