#control-panel {
  border: 1px solid lightblue;
  padding: 0 10px 10px 10px;
}

#control-panel h2 {
  margin-top: 10px;
}
dt, dd {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}

dt {
  width: 20%;
}

dd {
  width: 70%;
}

#clear-button {
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  background-color: white;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: not-allowed;
}

#clear-button.red {
  border: 1px solid black;
  background-color: #DC143C;
  color: white;
  cursor: auto;
}
