#dropzone {
  width: 70%;
  display: inline-block;
}

.dropzone-colour {
  outline: 2px dashed #92b0b3;
  background-color: #c8dadf;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, outline-color .15s ease-in-out, background-color .15s linear;
      height: 80px;
      padding: 20px;
}

.active-colour {
  background-color: #fff;
  outline-offset: -5px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.reject-colour {
  background-color: black;
  outline-color: red;
  outline-offset: -5px;
  transition: outline-offset .15s ease-in-out, outline-color .15s ease-in-out, background-color .15s linear;
}

.boxIcon {
  width: 100%;
  height: 70%;
  padding-top: 2%;
  fill: #92b0b3;
  display: block;
}
