tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
th, td {
    padding: 15px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


.tab-content {
overflow-y: auto;
overflow-x: auto;
height: calc(100vh - 150px);
width: 100%;
}
