#left {
  display: inline-block;
  vertical-align: top;
  width: 38%;
  margin: 0 1% 0 1%;
  height: 100vh;
}

#right {
  display: inline-block;
  vertical-align: top;
  width: 58%;
  margin: 0 1% 0 1%;
}
