
#param-button {
  min-width: 20%;
  margin: 0 10px 10px 10px;
}

#about-button {
  min-width: 20%;
  margin: 0 10px 10px 0;
}

#empty-button {
  min-width: 20%;
  margin: 0 10px 10px 0;
}


.desktop {
  display: none;
}

.mobile {
  display: inline-block;
}

.link-button {
  text-decoration: none;
  padding: 11px;
  display: none;
}

@media (min-width : 481px) {
  .desktop {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
  #param-button {
    min-width: 130px;
    margin: 0 10px 10px 0;
  }

  #about-button {
    min-width: auto;
    margin: 0 10px 10px 0;
  }

  #empty-button {
    min-width: auto;
    margin: 0 10px 10px 0;
  }
  .link-button {
    display: initial;
  }
}
